@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Raleway&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
    background: linear-gradient(116.82deg, #EB5160 0%, rgba(46, 76, 103, 0.8) 51.21%, #F7BC36 100%);
    font-family: 'Happy Monkey', 'Raleway';

    text-align: center;
}

h1 {
    color: #F7BC36;
}

header {
    padding: 10px;
}

#container {
    margin: px;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}


#camera-button {
    color: #B7999C;
}